td{
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid black;
}

th {
    height: 50px;
}

.noItemCell{
    color: red;
}

div#items, div#buyItems
{
    display:table;
    position: relative;
    margin: auto;

}
#toBasket, #buy{
    float:right
}